<% categories.forEach((category) => { %>

<% 
  const productPageUrl = encodeURI(`/products?category=${category.id}&title=${category.name}`);
%>

<li class="category-listing">
  <a class="item-label" href=<%= productPageUrl %> >
    <% if (category.image) { %>
      <img class="item-image" src="<%= category.image %>" alt="<%= category.name %>"/>
    <% } else { %>
      <div class="no-preview">No preview</div>
    <% } %>
    <%= category.name %>
  </a>
  <% if (showModifyLinks) { %>
  <div class="item-actions">
    <a class="update-link" href=<%= `/category/${category.id}/update` %> ><img class="icon" src="/pencil.svg" alt="pencil icon">Rename</a>
    <a class="delete-link" href=<%= `/category/delete?id=${category.id}`%> ><img class="icon" src="/delete.svg" alt="bin icon">Delete</a>
  </div>
  <% } %>
</li>
<% }); %>
