<% categories.forEach((category) => { %>

<% 
  const productPageUrl = encodeURI(`/products?category=${category.id}&title=${category.name}`);
%>

<li class="category-listing">
  <a href=<%= productPageUrl %> >
    <% if (category.image) { %>
      <img class="item-image" src="<%= category.image %>" alt="<%= category.name %>"/>
    <% } else { %>
      <div class="no-preview">No preview</div>
    <% } %>
    <%= category.name %>
  </a>
  <% if (showModifyLinks) { %>
  <div class="item-actions">
    <a class="update-link" href=<%= `/category/${category.id}/update` %> >Update</a>
    <a href=<%= `/category/delete?id=${category.id}`%> >Delete</a>
  </div>
  <% } %>
</li>
<% }); %>
