<% categories.forEach((category) => { %>

<% 
  const productPageUrl = encodeURI(`/products?category=${category.id}&title=${category.name}`);
%>

<li class="category-listing">
  <% if (category.image) { %>
    <img class="item-image" src="<%= category.image %>" alt="<%= category.name %>"/>
  <% } else { %>
    <div class="no-preview">No preview</div>
  <% } %>
  <a href=<%= productPageUrl %> ><%= category.name %></a>
  <% if (showModifyLinks) { %>
  <div class="modify-buttons">
    <a href=<%= `/category/${category.id}/update` %> >Update</a>
    <a href=<%= `/category/delete?id=${category.id}`%> >Delete</a>
  </div>
  <% } %>
</li>
<% }); %>
