<% categories.forEach((category) => { %>

<% 
  const productPageUrl = encodeURI(`/products?category=${category.id}&title=${category.name}`);
%>

<li class="category-listing">
  <img class="item-image" src="<%= category.image %>" alt="<%= category.name %>"/>
  <a href=<%= productPageUrl %> ><%= category.name %></a>
  <% if (showModifyLinks) { %>
  <div class="modify-buttons">
    <a href=<%= `/category/${category.id}/update` %> >Update</a>
    <a href=<%= `/category/delete?id=${category.id}`%> >Delete</a>
  </div>
  <% } %>
</li>
<% }); %>
