<fieldset class="stock-levels">
  <legend>Stock Levels</legend>
  <% stores.forEach((store) => { %>
    <%
      const inputId = `product${product.id}store${store.id}`
    %>
    <label for="<%= inputId %>"><%= store.name %>: </label>
    <input type="number" id="<%= inputId %>" name="store-id-<%= store.id %>" value=<%= store.quantity ?? 0 %> />
  <% }) %>
</fieldset>