<% 
  let newProductLink = "/products/new?";

  if (defaultCategory) {
    newProductLink += `&category=${defaultCategory}`;
  }

  if (defaultBrand) {
    newProductLink += `&brand=${defaultBrand}`;
  }
%>

<h2><%= title ?? "All Products" %></h2>
<a href="<%= newProductLink %>" class="add-button">Add a new product</a>
<% if (products.length === 0) { %>
  <p>No products found</p>
<% } else { %>
  <ul class="item-list">
    <% products.forEach((product) => { %>
    <li>
      <img class="item-image" src="<%= product.image %>" alt="<%= product.name %>"/>
      <div class="name"><%= product.name %></div>
      <div class="price">$<%= product.price %></div>
      <div><%= isStoreView ? "Store" : "Total" %> Stock: <%= product.total_stock ?? 0 %></div>
      <div class="item-actions">
        <a class="update-link" href="/products/<%= product.id %>/update"><img class="icon" src="/pencil.svg" alt="pencil icon">Update</a>
        <a href="/products/delete?id=<%= product.id %>"><img class="icon" src="/delete.svg" alt="bin icon">Delete</a>
      </div>
    </li>
    <% }); %>
  </ul>
<% } %>

