<% 
  let newProductLink = "/products/new?";

  if (defaultCategory) {
    newProductLink += `&category=${defaultCategory}`;
  }

  if (defaultBrand) {
    newProductLink += `&brand=${defaultBrand}`;
  }
%>

<h2><%= title ?? "All Products" %></h2>
<a href="<%= newProductLink %>">Add a new product</a>
<% if (products.length === 0) { %>
  <p>No products available</p>
<% } else { %>
  <ul class="item-list">
    <% products.forEach((product) => { %>
    <li>
      <img class="item-image" src="<%= product.image %>" alt="<%= product.name %>"/>
      <div class="name"><%= product.name %></div>
      <div class="price">$<%= product.price %></div>
      <div><%= isStoreView ? "Store" : "Total" %> Stock: <%= product.total_stock ?? 0 %></div>
      <a href="/products/<%= product.id %>/update">Update</a>
      <a href="/products/delete?id=<%= product.id %>">Delete</a>
    </li>
    <% }); %>
  </ul>
<% } %>

